@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.main-content {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  background-color: #fff;
  border: 1px solid #5a67d8;
  border-radius: 20px;
  padding: 5px 5px;
}

.search-bar {
  margin-right: 20px;
  position: relative;
}

.search-bar svg {
  position: absolute;
  left: 10px;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.3s;
}

.search-bar input {
  padding: 5px 10px 5px 35px;
  border: 1px solid #5a67d8;
  border-radius: 20px;
  background-color: #eceded;
  color: #343a40;
}

.profile-icon {
  width: 40px;
  height: 40px;
  background-color: #5a67d8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.profile-box {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 150px;
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.status-indicator.active {
  background-color: green;
}

.status-indicator.inactive {
  background-color: red;
}

.profile-box button {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #e53e3e;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.status p {
  color: #343a40;
}

.theme-toggle img {
  padding: 10px;
}

main {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chat-header h1 {
  margin: 0;
  font-size: 4vw;
}

.plugin-info {
  margin-bottom: 20px;
  color: #718096;
}

.chat-messages {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: calc(100vh - 320px);
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #5a67d8;
  border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #434190;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #e2e8f0;
  border-radius: 10px;
}

.chat-box {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #e2e8f0;
  background-color: #fff;
}

.chat-box input {
  flex: 1;
  padding: 15px;
  border: 1px solid #cbd5e0;
  border-radius: 20px;
  margin-right: 10px;
  background-color: #ffffff;
  color: black;
}

.chat-box button {
  padding: 15px 20px;
  background-color: #5a67d8;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.message {
  display: flex;
  margin-bottom: 10px;
  max-width: 60%;
  border-radius: 20px;
  padding: 10px 15px;
  word-wrap: break-word;
}

.message.user {
  background-color: #e1f5fe;
  color: #333;
  align-self: flex-end;
  text-align: right;
  justify-content: flex-end;
  margin-left: auto; /* Aligns the message to the right */
}

.message.bot {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
  text-align: left;
  justify-content: flex-start;
  margin-right: auto; /* Aligns the message to the left */
}

.no-messages {
  color: #999;
  text-align: center;
}
